.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: #fff;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 16px;
  border-right: 16px;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.input {
  color: #6070ff;
  border: none;
  height: 40px;
  left: 12px;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px 10px 12px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

img {
  padding-inline-end: 20px;
  width: 30px;
}

.info_box {
  text-align: center;
  color: #172b4d;
  line-height: 52px;
  font-size: 44px;
  width: 327px;
  height: 146px;
  margin-left: 18px;
  font-family: 'Poppins', sans-serif;
  margin-top: 114px;
}

.body_section {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #172b4d;
  margin-left: 12px;
  font-family: 'Poppins', sans-serif;
}

.contact_section {
  margin-left: 18px;
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}

a {
  color: #525ec7;
  text-decoration: none;
}

h3 {
  color: #6070ff;
  margin-left: 18px;
}

.arc {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 300px;
  top: 124px;
}

.bar {
  position: absolute;
  width: 26.46px;
  height: 70.73px;
  left: 127.18px;
  top: 120.59px;
}

.c {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 0.04px;
  top: 121.47px;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 657.1px;
}

ul {
  list-style: none;
  display: flex;
}

.section_works_container {
  display: grid;
  height: 592px;
  grid-column: auto;
  justify-content: center;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
}

.sec_in {
  width: 270px;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 16px;
  border-right: 16px;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
}

.tonic {
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 20px;
  font-weight: 700;
  line-height: 8px;
  font-family: 'Poppins', sans-serif;
}

.sec_h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  column-gap: px;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 1px;
  color: #172b4d;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #7a869a;
}

.opy {
  display: flex;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Poppins', sans-serif;
}

.dev {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
}

.date {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
}

.p {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -30px;
  color: #7a869a;
  font-size: 15px;
  height: 76px;
  width: 250px;
  font-weight: 400px;
  padding: 114px, 24px, 114px, 24px;
  line-height: 24px;
}

.push {
  display: flex;
  column-gap: 5px;
  color: #6070ff;
}

.html1 {
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  width: 53px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  border-radius: 8px;
  letter-spacing: 0.03em;
  background-color: #ebebff;
}

.css2 {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  justify-content: center;
  font-weight: 500;
  width: 45px;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  background-color: #ebebff;
}

.java3 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  align-items: center;
  background-color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  box-sizing: border-box;
  line-height: 24px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #6070ff;
  cursor: pointer;
  color: #6070ff;
  background-color: #fff;
  gap: 10px;
  padding: 12px;
  width: 149px;
  margin-left: 40px;
  border-radius: 8px;
  letter-spacing: 0.03em;
}

.second_work_container {
  display: grid;
  height: 592px;
  justify-content: center;
  margin-top: 114px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 16px;
}

.nxt_wk {
  display: flex;
  width: 295px;
  height: 220px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
  padding-bottom: 12px;
}

.worktwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 80px;
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
}

.third_work_container {
  display: grid;
  height: 592px;
  grid-column: auto;
  justify-content: center;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
}

.third_wk {
  display: flex;
  width: 295px;
  height: 220px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
}

.workthree {
  display: flex;
  align-items: center;
  width: 295px;
  height: 80px;
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
}

.forth_work_container {
  display: grid;
  height: 592px;
  grid-column: auto;
  justify-content: center;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
}

.forth_wk {
  display: flex;
  width: 295px;
  height: 220px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
  padding-bottom: 12px;
}

.workfour {
  display: flex;
  align-items: center;
  width: 295px;
  height: 80px;
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
}

.about_section_container {
  display: flex;
  flex-direction: column;
  height: 1000px;
  border-radius: 16px;
  margin-left: 14px;
  margin-right: 14px;
}

.about_my {
  display: flex;
  align-items: center;
  color: #172b4d;
  line-height: 52px;
  font-size: 40px;
  width: 200px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  margin-top: 114px;
  font-weight: 700;
  margin-left: 24px;
  margin-right: 24px;
}

.sec_abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  margin-top: -5px;
  height: 140px;
  gap: 24px;
  padding: 114px, 24px, 114px, 24px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  width: 300px;
}

.fr_sk {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #000;
  border-left: 36px;
  border-right: 102px;
  font-size: 20px;
  row-gap: 35px;
  line-height: 24px;
}

.dropim {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}

.lasjss {
  background-color: #f7f7f9;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  height: 50px;
}

.lasht {
  background-color: #f7f7f9;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  height: 50px;
}

.lascs {
  background-color: #f7f7f9;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  height: 50px;
}

.reach_out {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  border-top-left-radius: 80px;
}

.cont_me {
  display: flex;
  height: 56px;
  font-size: 40px;
  color: #fff;
  line-height: 52px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin-top: 103px;
}

.cont_input {
  color: #ebebff;
  height: 102px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: -12px;
  margin-bottom: 40px;
}

.ul_form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.username {
  border: 1px solid#cfd8dc;
  border-radius: 8px;
  margin-left: 24px;
  margin-right: 24px;
  line-height: 20px;
  height: 48px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: #172b4d;
  font-weight: 400;
}

.email {
  border: 1px solid#cfd8dc;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 17px;
  line-height: 20px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: 400;
  width: 327px;
}

.comment {
  border: 1px solid#cfd8dc;
  border-radius: 8px;
  font-size: 15px;
  margin-left: 24px;
  margin-right: 24px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  height: 170px;
  font-weight: 400;
  width: 327px;
}

.submit {
  margin-left: -15px;
  margin-bottom: 45px;
}

.footbar {
  position: absolute;
  width: 134px;
  height: 5px;
  left: 160px;
  top: 5210px;
}

.frec {
  position: absolute;
  width: 74px;
  height: 40px;
  left: 345px;
  top: 4465px;
}

.farc {
  position: absolute;
  width: 90px;
  height: 89px;
  left: 338px;
  top: 4490px;
}

.fcircle {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 296px;
  top: 5135px;
}

.fcircletop {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 193px;
  top: 4499px;
}

.frecdown {
  position: absolute;
  width: 90px;
  height: 45px;
  left: 280px;
  top: 5110px;
}
