.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: #fff;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 16px;
  border-right: 16px;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

input {
  color: #6070ff;
  border: none;
  height: 40px;
  left: 12px;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px 10px 12px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

img {
  padding-inline-end: 20px;
  width: 30px;
}

.info_box {
  text-align: center;
  color: #172b4d;
  line-height: 52px;
  font-size: 44px;
  width: 327px;
  height: 146px;
  margin-left: 18px;
  font-family: 'Poppins', sans-serif;
  margin-top: 114px;
}

.body_section {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #172b4d;
  margin-left: 12px;
}

.contact_section {
  margin-left: 18px;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #525ec7;
  text-decoration: none;
}

h3 {
  color: #6070ff;
  margin-left: 18px;
}

.arc {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 300px;
  top: 124px;
}

.bar {
  position: absolute;
  width: 26.46px;
  height: 70.73px;
  left: 127.18px;
  top: 120.59px;
}

.c {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 0.04px;
  top: 121.47px;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 657.1px;
}

ul {
  list-style: none;
  display: flex;
}

.section_works_container {
  display: grid;
  height: 592px;
  grid-column: auto;
  justify-content: center;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
}

.sec_in {
  width: 270px;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 16px;
  border-right: 16px;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
}

.tonic {
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 20px;
  font-weight: 700;
  line-height: 8px;
  font-family: 'Poppins', sans-serif;
}

.sec_h {
  display: flex;
  justify-items: start;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 15px;
  color: #172b4d;
  list-style: none;
}

.p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  color: #344563;
  font-size: 15px;
  height: 76px;
  width: 295px;
  font-weight: 400px;
  padding: 114px, 24px, 114px, 24px;
  line-height: 24px;
}

.push {
  display: flex;
  align-items: center;
  width: 210px;
  height: 24px;
  justify-content: space-between;
  margin-top: -20px;
  margin-right: 108px;
  margin-left: 40px;
  padding-left: 1px;
  row-gap: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  box-sizing: border-box;
  line-height: 24px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #6070ff;
  cursor: pointer;
  color: #6070ff;
  background-color: #fff;
  height: 48px;
  gap: 10px;
  padding: 12px;
  width: 124px;
  margin-left: 40px;
  border-radius: 9px;
  letter-spacing: 0.03em;
}

.second_work_container {
  display: grid;
  height: 592px;
  justify-content: center;
  margin-top: 114px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 16px;
}

.nxt_wk {
  display: flex;
  width: 295px;
  height: 220px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
  padding-bottom: 12px;
}

.worktwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 80px;
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
}

.third_work_container {
  display: grid;
  height: 592px;
  grid-column: auto;
  justify-content: center;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
}

.third_wk {
  display: flex;
  width: 295px;
  height: 220px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
}

.workthree {
  display: flex;
  align-items: center;
  width: 295px;
  height: 80px;
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
}

.forth_work_container {
  display: grid;
  height: 592px;
  grid-column: auto;
  justify-content: center;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
}

.forth_wk {
  display: flex;
  width: 295px;
  height: 220px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
  padding-bottom: 12px;
}

.workfour {
  display: flex;
  align-items: center;
  width: 295px;
  height: 80px;
  margin-left: 40px;
  margin-right: 40px;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
}

.about_section_container {
  display: flex;
  flex-direction: column;
  height: 1000px;
  border-radius: 16px;
  margin-left: 14px;
  margin-right: 14px;
}

.about_my {
  display: flex;
  align-items: center;
  color: #172b4d;
  line-height: 52px;
  font-size: 40px;
  width: 200px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  margin-top: 114px;
  font-weight: 700;
  margin-left: 24px;
  margin-right: 24px;
}

.sec_abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  margin-top: -5px;
  height: 140px;
  gap: 24px;
  padding: 114px, 24px, 114px, 24px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #344563;
  width: 300px;
}

.fr_sk {
  display: flex;
  align-items: center;
  width: 237px;
  font-weight: 500;
  color: #000;
  border-left: 36px;
  border-right: 102px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
}

.dropim {
  display: grid;
  grid-template-rows: repeat(6, 2fr);
  row-gap: 40px;
  font-size: 20px;
  color: #253858;
  margin-left: 36px;
  margin-right: 36px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}
